name: ci
on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: adopt
    - name: Build with Maven
      run: mvn -V -B package --file pom.xml
    - name: Calculate dependency tree
      run: mvn -V -B -ntp dependency:tree --file pom.xml
